<footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <a href="{% url 'project:Home' %}"><h3>آسا | آینده سازان ایران </h3></a>
              <p>
                محله لویزان-  خیابان دماوند ( مژده ) <br>
                ایران - تهران <br><br>
                <strong dir="rtl">تلفن تماس</strong> +990 821 12 72 <br>
                <strong>Email:</strong> alitalebishahroodi@gmail.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4> لینک های مفید </h4>
            <ul>
              <li><a href="{% url 'project:Home' %}">خانه</a></li>
              <li><a href="{% url 'project:Home' %}#projects"> پروژه های ما </a></li>
              <li><a href="{% url 'client:team_introduction' %}">درباره ما </a></li>
              <li><a href="{% url 'blog:show_Blog' %}"> وبلاگ </a></li>
              <li><a href="{% url 'project:Home' %}#services">خدمات ما </a></li>
              <li><a href="{% url 'project:contact_us' %}">ارتباط با ما </a></li>
             

              

            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4> خدمات ما </h4>
            <ul>
              <li><a href="#"> مدیریت ساخت و پیمان</a></li>
              <li><a href="#"> مدیریت پروژه </a></li>
              <li><a href="#"> انجام امور اداری شهرداری  </a></li>
              <li><a href="#"></a></li>
              <li><a href="#"> طراحی نقشه</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <!-- 
            <h4>Hic solutasetp</h4>
            <ul>
              <li><a href="#">Molestiae accusamus iure</a></li>
              <li><a href="#">Excepturi dignissimos</a></li>
              <li><a href="#">Suscipit distinctio</a></li>
              <li><a href="#">Dilecta</a></li>
              <li><a href="#">Sit quas consectetur</a></li>
            </ul>
          </div>
        
          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Nobis illum</h4>
            <ul>
              <li><a href="#">Ipsam</a></li>
              <li><a href="#">Laudantium dolorum</a></li>
              <li><a href="#">Dinera</a></li>
              <li><a href="#">Trodelas</a></li>
              <li><a href="#">Flexo</a></li>
            </ul>
          </div>
          -->
          <!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
               تمامی حقوق محفوظ میباشد &copy;
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
            قالب وبسایت <a href="https://bootstrapmade.com/"> شرکت بوت استرپ</a>
            <p><a href="talebiali.pythonanywhere.com">طراح علی طالبی </a></p>
          </div>
      </div>
    </div>

  </footer>